<div class="col-md-8">
  <% if question.answerchoices.any? %>
  <h3><%= question.text %> (<%= question.answerchoices.count %> choices)</h3>
    <ul class="answerchoices">
      <% question.answerchoices.each do |answerchoice| %>
        <%= render partial: "answerchoices/answerchoice", object: answerchoice %>
      <% end %>
    </ul>
  <% end %>
</div>