<div class="col-md-8">
  <h3><%= question.text %> (<%= question.answerchoices.count %> choices)</h3>
</div>


<div class="col-md-8">
  <% pie_array = [] %>
  <% if question.answerchoices.any? %>
    <% puts "START debug" %>
    <% for i in question.answerchoices do%>
      <% #pie_array << [i.content, i.tally] %>
      <% puts i.inspect %>
      <% puts i.userchoices.inspect %>
      <% pie_array << [i.content, i.userchoices.count] %>
    <% end %>
    <% puts "END debug" %>
    
    <% puts pie_array %>
  
    
     <%= pie_chart pie_array %>
  <% end %>
</div>
