<h1>New Question</h1>

<div id="choice0" class="field" hidden>
      <label for="question_Answer Choice">Answer choice</label>
      <input type="text" name="ans[]" id="ans_" required="">
</div>
<script>

    function add() {
        // 'foobar' is the div id, where new fields are to be added
        var foo = document.getElementById("cs");
        var choice = document.getElementById("choice0");
        choice.removeAttribute("hidden")
        cl = choice.cloneNode(true);
        choice.setAttribute('hidden', '');
        console.log(cl.childNodes[3])
        console.log(cl.childNodes[3].value)
        //cl.childNodes[3].setAttribute("id", cl.childNodes[3].id.slice(0, 2) + toString(parseInt(cl.childNodes[3].id[-1]) + 1))
        console.log(cl.childNodes[3].value)
        //Append the element in page (in span).
        foo.appendChild(cl);
        
    }
    
    function validate() {
        
    }
</script>

<%= render 'form', question: @question %>
<%= link_to 'Back', questions_path %>
<script>
    document.getElementById("newbut").onclick = add;
    const ans = document.getElementById('ans_');
    ans.setAttribute('required', '');
    const q = document.getElementById('q');
    q.setAttribute('required', '');
</script>