<li>
  <span class="content"><%= answerchoice.content %>
    <%= form_for(answerchoice, url: {action: "vote", id: answerchoice.id, controller: "answerchoices"}) do |f| %> 
      <%= f.submit "✔", class: "btn btn-primary" %>
    <% end %>
    Current vote count: <%= answerchoice.tally %>
  </span>
</li>