<h1>New Poll</h1>

<%= render 'form', poll: @poll %>

<%= link_to 'Back', polls_path %>
<script>
    $(document).on("click", ".rem_choice", function(){
    div = $(this).parent();
    if ($(this).parent().siblings(".a:visible").length == 0) {
      alert("You can't remove only choice!");
    }
    else {
      div.children("input:hidden").attr("value", "1");
      //div.attr("hidden","");
      div.remove();
    }
    
    //RemoveHiddenRequired();
    
  });
  
  $(document).on("click", ".rem_question", function(){
    div = $(this).parent();
    console.log($(this));
    console.log(div);
    if ($(this).parent().siblings(".q:visible").length == 0) {
      alert("You can't remove only question!");
    }
    else {
      div.remove();
    }
    
    //RemoveHiddenRequired();
    
  });
</script>