<style>
.links {
  right: 0;
}

.title{
  font-size: 40px;
}

.questiontext {
  width: 900px
}

.actions {
  position: fixed;
  bottom: 0;
  right:0;
  text-align: center;
}

span.content {
  width: 100%;
  
}

.label {
  color: #333333;
  font-size: 15px;
  display: inline
  padding: 10px;
}

</style>
<% user_list = [] %>
<% for quest in @poll.questions %>
  <% for ans in quest.answerchoices %>
    <% for u in ans.userchoices %>
      <% user_list << u.user_id %>
    <% end %>
  <% end %>
<% end %>
<p id="notice"><%= notice %></p>
<% if user_list.include? current_user.id %>
  <%= render partial: "results", object: @poll %>
<% else %>
  <%= render partial: "vote", object: @poll %>

<% end %>



<%= link_to '<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-triangle-left"></span>Back</button>'.html_safe, polls_path %>
